<div class="container">
  <main>
    {{> nav_srcs }}

    <aside class="set dev">
    {{> ul_srcs }}
    </aside>

    <section id="workbar"></section>
    {{#each r.list}}
    <input type="hidden" id="{{name}}_d" 
      data-body="{{body}}" 
      data-orig="{{raw}}" 
      data-header="{{header}}">{{/each}}
  </main>
</div>


<script type="text/javascript">

var ups = {}
var $wkb;

function cpb(id) {
  if ($wkb.data('id') == id) return
  $wkb.setAttribute("data-id", id)
  var elm  = $('#'+id+'_d')
  var head = elm.data('header')
  var body = elm.data('body')
  var orig = elm.data('orig')
  var oprv = orig.replace(/\n\n/g,'\n\\n')
    .replace(/\n/g,' ')
    .replace(/\\n/g,'\n\\n')

  $wkb.innerHTML ='<h5>'+id+' (raw)</h5>'
    +'<textarea id="cpd_orig" wrap="soft">\''+id+'\'\: { md: `\n'+orig+'</textarea>'
    +'<h5>Body (edit+transforms)</h5>'
    +'<textarea id="cpd_edit" wrap="soft">'+head+body+'</textarea>'
    +'<h5>Body (auto)</h5>'
    +'<textarea id="cpd_body" wrap="soft">'+oprv+'</textarea>'
}


// var fLb = function(v, id) { ag.srcs.togglefilterLb(v, id) }
var cpv = function(v) { ag.cmd.cp(v, $('#cpd').value?'\n' : false) }
var fTog = function(cbx) { ag.srcs.filter($('#{{vd.ui.ul}}'), cbx) }
var trmv = function(name) { 
  var el = document.getElementById('li_'+name)
  el.parentNode.removeChild(el)
}  

function ag_onload() {
  ag.data.filtered = window.vd.filtered

  for (var f in ag.data.filtered)
    $('#f_'+f).parentNode.innerHTML += ' <b>'+ag.data.filtered[f].length+'</b>'

  $wkb = $('#workbar')
  ag.$('#stack_{{vd.ui.stack}}').checked = true
  var cbx_load = null // $('#f_stopgap') 
  if (cbx_load) cbx_load.checked = true
  fTog(cbx_load)
}

</script>

{{VD}}
 
