<dl>{{#each attached}}
    <dt><b>{{lb}}</b>.{{ext}} <a href="{{url}}" target="_blank"><var>{{kb}}</var>Kb</a>
</dt>{{#if preview}}
    <dd><figure class='{{css}}'>{{{preview}}}</figure></dd>{{/if}}
{{/each}}</dl>
