{{#with page}}
{{#if meta}}{{#with meta}}
<title>{{title}}</title>

{{/with}}{{/if}}
{{/with}}

{{#if page.meta}}{{}}



{{view}}
{{/if}}
<title>Strata living</title>



<title>{{#if htmlHead}}{{{htmlHead.title}}}{{else}}Strata living | 37paulst.com{{/if}}</title>
<meta charset="UTF-8" />
<meta name="robots" content="{{#if noindex }}no{{/if}}index, follow">{{#if htmlHead}}{{#with htmlHead}}{{#if description }}
<meta name="description" content="{{ description }}"/>{{/if}}
<meta property="og:locale" content="en_AU"/>{{#if ogType }}<meta property="og:type" content="{{ogType}}"/>{{else}}<meta property="og:type" content="article"/>{{/if}}{{#if ogTitle }}<meta property="og:title" content="{{ogTitle}}"/>{{/if}}{{#if ogDescription }}<meta property="og:description" content="{{ogDescription}}"/>{{/if}}{{#if ogImage }}<meta property="og:image" content="{{ogImage}}"/>{{/if}}{{#if ogUrl }}<meta property="og:url" content="{{ogUrl}}"/>{{/if}}{{#if canonical }}<link rel="canonical" href="{{ canonical }}" />{{/if}}{{/with}}{{/if}}
