<nav id="xplorer">

  <div id="filters">{{#with vd}}  
    <p><label for="stack_off"> total </label><input id="stack_off" name="stack" type="radio" val="message" onchange="ag.srcs.toggleStack()" /><span><var id="v_shown">{{agg.src}}</var> /{{agg.src}}</span></p>
    <p><label for="stack_thread"> threads </label><input id="stack_thread" name="stack" type="radio" val="thread" onchange="ag.srcs.toggleStack()" /><span><var id="v_threads">{{agg.thread}}</var> /{{agg.thread}}</span></p>
    <p><label for="sets"> sets </label></p>
    <ul>{{#each filters}}
        <li><input type='checkbox' name='fltr' onchange='fTog(this)' id='f_{{this}}' /> <label for='f_{{this}}'>{{this}}</label></li>{{/each}}
    </ul>
    <h6><label for="history_order">{{ui.order}}</label> <input type="checkbox" onchange="ag.srcs.toggleOrder()" checked="checked" id="history_order" /><span><var id="v_days">{{time.days}}</var> days</span></h6>
    <p>from <span><var id="v_from">{{dayIso time.first}}</var></span></p>
    <p>to <span><var id="v_to">{{dayIso time.last}}</var></span></p>
  {{/with}}</div>

  <ul>{{#each r.sources}}
    <li><time>{{day published}}</time><a onclick="cpv('{{name}}')" href="#{{name}}" class="subject">{{title}}</a></li>{{/each}}
  </ul>

  <textarea id="cpd"></textarea>

</nav>
