<ul id='{{vd.ui.ul}}' data-stack='{{vd.ui.stack}}'>{{#each r.list}}
  <li id='li_{{name}}' data-thread='{{threadId}}' data-is='{{tis}}' class='src' onmouseover="cpb('{{name}}')">
    {{#if between}}{{{between}}}{{/if}}{{#if fileinfo}}
    <header id="fil_{{navId name}}">{{{fileinfo}}}</header>{{/if}}{{#if body}}
    <section id="bdy_{{navId name}}">{{{markup this}}}</section>{{else}}{{#if raw}}
    <section id="bdy_{{navId name}}">{{{raw}}}{{/if}}{{/if}}{{#if attached}}
    <section id="atc_{{navId name}}">{{>dl_atcd}}</section>{{/if}}
    <footer>
      <nav>
        <a class='uri' href="https://{{uri}}" target="_blank">{{navId uri}}</a>
        <a class='eid' href="/adm/src/{{_id}}" target="_blank">{{navId _id}}</a>
        <a class='nid cpv' href='#' onclick='cpv("{{name}}")'>{{navId name}}</a>
        <a class='tid goto' href='#li_{{threadId}}'>{{navId threadId}}</a>
        <a class="rmv" onclick="trmv('{{name}}')">x</a>
        <a class="ign">i</a>      
      </nav>
    </footer>
  </li>{{/each}}
</ul>
