<nav id="explorer">
  <div id="filters">
    <h6><span><var id="v_sets">all</var></span></h6>
    <p><input id="mode_message" name="mode" type="radio" val="message" onchange="argu.modeToggle()" /> <label for="mode_message"> messages </label>
       <span><var id="v_shown">{{r.meta.set}}</var> /{{r.meta.set}}</span></p>
    <p><input id="mode_thread" name="mode" type="radio" val="thread" onchange="argu.modeToggle()" /> <label for="mode_thread"> threads </label>
       <span><var id="v_threads">{{r.meta.threads.length}}</var> /{{r.meta.threads.length}}</span>
    </p>
    <hr />
    <ul>{{#each r.meta.filters}}
        <li><input type="checkbox" id="f_{{this}}" name="filters" onchange="argu.filterSet(this)" /> <label for="f_{{this}}">{{this}}</label></li>{{/each}}
    </ul>
    <hr />
    <h6><input type="checkbox" onchange="argu.reverseSet()" checked="checked" />
        {{r.meta.newest}} <span><var id="v_days">{{r.meta.time.days}}</var> days</span>
    </h6>
    <p>from <span><var id="v_from">{{ dayIso r.meta.time.first}}</var></span></p>
    <p>to <span><var id="v_to">{{ dayIso r.meta.time.last}}</var></span></p>
    <hr />
  </div>
  <ul>{{#each r.messages}}
    <li><a class='ico rm' href='/api/sources/{{_id}}' target='_blank'></a>
        <span>{{ day published }}</span>
        <a onclick="cpv('{{name}}')" href="#{{name}}" class="subject">{{title}}</a>
      </li>{{/each}}
  </ul>
  <textarea id="cpd"></textarea>
</nav>



<script type="text/javascript">
function cpb(id) {
  var workbar = argu.$('#workbar')
  if (workbar.getAttribute('data-id') == id) return

  var elm = argu.$('#'+id+'_d')
  var body = elm.getAttribute("data-body")
  var orig = elm.getAttribute("data-body-orig")

  workbar.setAttribute("data-id", id)
  workbar.innerHTML =
      '<h5>'+id+' (orginal)</h5><textarea id="cpd_orig" wrap="soft">\''+id+'\'\: { md: `\n'+
        orig
      +'</textarea>'
      + '<h5>Body (auto)</h5><textarea id="cpd_body" wrap="soft">'+
        orig.replace(/\n\n/g,'\n\\n')
            .replace(/\n/g,' ')
            .replace(/\\n/g,'\n\\n')
      +'</textarea>'
}

function cpv(val) {
  argu.cmd.cp(val, argu.$('#cpd').value ? '\n' : false)
}

function lb(v, id) {
  argu.filterLB(v, id)
}

document.getElementById("mode_{{r.meta.mode}}").checked = true;

argu.data.filters = {{{ JSON r.meta.filters }}}
argu.data.sets = {{{ JSON r.sets }}}


var lb_static = ['JK_swear','police','ants','losses','innocent','laurie'//] //,'JK_health'
  ,'oneill'
  ,'OC_106_1','OC_noise','SC_badfaith','SC_misinfo','SA_comission','SA_OC2nd','SA_breach','JK_anxiety','JK_cantwork','JK_losses','JK_scapegoat','JK_unrentable','SC_lame']
argu.insertLBs = function(li) {
  var html = ""
  argu.data.filters_name.forEach(function(name) {
    if (lb_static.indexOf(name) != -1) return
    var css = argu.data.filters[name].indexOf(li.id) == -1 ? '' : css = ' class="on"';
    var id = "'"+li.id+"'"
    html += '<var onclick="lb(this, '+id+')"'+css+'>'+
     name.replace('JK_','<i>J</i>')
         .replace('OC_','<i>O</i>')
         .replace('SA_','<i>A</i>')
         .replace('SC_','<i>C</i>')+'</var>';
  })
  li.getElementsByTagName('footer')[0].innerHTML = html
}
var ups = {}
argu.filterLB = function(v, id) {
  var f = v.innerHTML.replace('<i>J</i>','JK_')
                     .replace('<i>O</i>','OC_')
                     .replace('<i>A</i>','SA_')
                     .replace('<i>C</i>','SC_')
  var on = !/on/.test(v.getAttribute('class'))
  v.setAttribute('class', on?'on':'')
  ups[f] = ups[f] || { ins: [], rm: [] }
  var saved = argu.data.filters[f].indexOf(id) > -1
  if (saved) {
    var idxRm = ups[f].rm.indexOf(id)
    if (on && idxRm > -1) ups[f].rm.splice(idxRm, 1)
    else if (idxRm == -1) ups[f].rm.push(id)
  }
  else {
    var idxIns = ups[f].ins.indexOf(id)
    if (on && idxIns == -1) { ups[f].ins.push(id) }
    else if (idxIns > -1) ups[f].ins.splice(idxIns, 1)

  }
  var cmd = ''
  Object.keys(ups).forEach(function(u) {
    var ins = ups[u].ins
    var rm = ups[u].rm
    if ((ins.length + rm.length) > 0)
      cmd += "up('"+u+"',"
        + (ins.length > 0 ? "'"+ins.join(",")+"'," : "null,")
        + (rm.length > 0 ? "'"+rm.join(",")+"')" : "null)") + '\n'
  })
  argu.cmd.cp(cmd)
}


argu.data.filters_name = {{{ JSON r.meta.sets }}}
argu.data.filters = {{{ JSON r.filters }}}

function argu_onload() {
  // document.getElementById('f_JK_intent').checked = true
  // argu.filterSet(document.getElementById('f_JK_intent'))
  argu.filterSet()
}

</script>



<div id="set">

  <ul id="srcs" data-mode="{{r.meta.mode}}" style="display:none">
  {{#each r.set}}
    <li id="{{name}}" data-thread="{{threadId}}"{{#if threadSwap}} class="swap"{{/if}}>
    <header>
      <h1>{{subject}}</h1>
      <nav>
        <a onmouseover="cpb('{{name}}')"></a>
        <a href="https://{{uri}}" target="_blank" class='ico gm'>M</a>
      </nav>
      <var><a class="goto" href="#{{threadId}}">{{shortId threadId}}#</a>
           <a onclick="cpv('{{name}}')">{{shortId name}}</a></var>
      <time>{{ daytime time }}</time>
      {{ btw between }}
    </header>
    <section id="{{name}}_bdy">{{#if body}}{{md_mail body}}{{else}}{{markup raw}}{{/if}}</section>
      <footer></footer>
{{#if attached}}
      <figure>{{#each attached}}
        <span class="glyphicon glyphicon-{{type}}" onclick="cpv('![{{file}}](__{{file}}__inln.jpg)')"><label>{{{atchd file}}}</label><i><a href="/source/{{../name}}/atchd/{{htmlEncode file}}" target="_blank"><strong>{{kb}}</strong>Kb</a></i></span>
        {{!-- {{#if img}}<a href="{{src}}" target="_blank"><img src="{{src}}" /></a>{{/if}} --}}
        {{#if preview}}<cite>{{markup preview}}</cite>{{/if}}{{/each}}</figure>{{/if}}
    </li>
  {{/each}}
  </ul>

<div style="display:none">
{{#each r.set}}
<cite id="{{name}}_d" data-id="{{name}}" data-body="{{body}}" data-body-orig="{{raw}}"></cite>{{/each}}
</div>

  <section id="workbar">

  </section>

</div>
