<style type="text/css">
body { background:#f4f8fb;color:black;font-size:17px; }
pre,
code { font-size:11px;margin:0;padding:0!important; }
code { margin-top:-16px;font-weight:normal;color:#337ab7;letter-spacing:-0.6px;float:right;text-align:right }
code b { color:darkblue; }
code a { color:#d7153a; }
section {
  width:640px;margin:25px;padding:0px 8px;background:white;
  border:2px solid #d7e2fc;border-left:none;border-right:none;
  height:36px;overflow-y:hidden;
}
section:hover { height:inherit;overflow-y:initial; }
hr { border-top:solid 1px gray;margin-top:15px; }
h3 { border:none;font-weight:bold;margin:10px 0;padding:0;font-size:0.85em;  }
a { color:#15c; }
.law { margin:5px; }
.law p, .law li { padding:0;margin:1px 0 0 0;
    font-family:'Times New Roman';font-size:0.8em;line-height:1.15em }
.law blockquote { border:none;margin:0;padding:0; }
.law > blockquote ol { list-style:none;padding:4px 0 }
.law > blockquote ol li { margin-left:26px;margin-top:4px; }
.law > blockquote > blockquote > ol { margin-left:0px;font-size:0.95em }
.law > blockquote > blockquote > blockquote > ol { margin-left:0px }

.law > blockquote > ol > li { counter-increment:c1; }
.law > blockquote blockquote > ol > li { counter-increment:c2 }
.law > blockquote blockquote blockquote > ol > li { counter-increment:c3; }

.law > blockquote li:before { display:inline-block;
                              vertical-align:top;
                              margin-top:-1px;
                              margin-left:-24px;
                              width:24px;
                              padding:0 10px 0 0;
                              color:#17394d;
                              font-size:0.9em;
                              font-weight:100;
                              letter-spacing:-0.03em; }
.law > blockquote > ol > li:before { content: "(" counter(c1,decimal) ")" }
.law > blockquote blockquote > ol > li:before { content: "(" counter(c2,lower-alpha) ")" }
.law > blockquote blockquote blockquote > ol > li:before { content: "(" counter(c3,lower-roman) ")"; }
</style>

{{#each r}}
<div>
<section>
  <code><a href="#">{{of}} {{at}}</a> <b>{{name}}</b> {{crumb}}</b></code>
  <h3>{{at}} &nbsp; {{title}}</h3>
  <div class="law">{{ md_law body }}</div>
</section>
</div>
{{/each}}


<script type="text/javascript">

function argu_onload() {
  console.log('argu.cmd', argu.cmd)
}

</script>
